@import url('https://fonts.googleapis.com/css?family=Bitter:700');

.color-blue {
    color: #0E6EB8 !important;
}

.weak-skill {
    color: rgba(0, 0, 0, .4);
}

.pointing {
    border-bottom: none !important;
}

.language-label{
    font-size: 0.9rem;
    font-weight: 100;
}

.language-bullet{
    font-size: 1.2rem;
}

.Python{
    color: #016936;
}

.Django{
    color: #008080;
}

.C\+\+, .C{
    color: #FF1493;
}

.Java{
    color: #A52A2A;
}

.Android{
    color: #B03060;
}

.Javascript{
    color: #FE9A76;
}

.Misc{
    color: #B413EC;
}

.hr12{
    height: 12rem;
}

.hr9{
    height: 9rem
}

.designation-label{
    font-size: 1.5rem !important;
    margin-top: 1.5rem;
    font-weight: 700;
}

.mastfoot h1.ui.header {
    font-size: 3rem;
    margin-top: 25vh;
    font-family: "Bitter";
}

.mastfoot .list .label{
    margin-top: 2rem;
}

.mastfoot .list .label {
    margin-left: 0.75rem;
    margin-right: 0.75rem;
}

.hidden.menu {
    display: none;
}

.ui.segment {
    min-height: 105vh;
    padding: 1rem 0rem;
}

.masthead h1.ui.header {
    margin-top: 25vh;
    margin-bottom: 0rem;
    font-family: "Bitter";
    font-size: 6.2rem;
}

.masthead h2 {
    font-size: 2rem;
    font-weight: normal;
}

.ui.vertical.stripe {
    padding: 8rem 0rem;
}

.secondary.pointing.menu .toc.item {
    display: none;
    border-bottom: none;
}

.meta {
    margin-top: 0.5rem;
}

.card .content:not(.hr9) .description  {
    margin-top: 1rem !important;
}

.icount {
    margin-left: 0.3rem;
    margin-right: 0.6rem;
}

.star.icon, .fork.icon {
    pointer-events:none;
}

@media only screen and (max-width: 745px) {

    .designation-label{
        font-size: 3.5vw !important;
    }

    .language-bullet{
        font-size: 0.6rem;
    }

    .masthead h1.ui.header {
        font-size: 10vw;
        margin-top: 25vh;
    }

    .mastfoot h1.ui.header {
        font-size: 1.5rem;
        margin-top: 25vh;
    }

    .masthead h2 {
        margin-top: 0.5rem;
        font-size: 1.5rem;
    }

    .hr12 {
        height: auto;
    }

    .hr9 {
        height: auto;
    }
}
